<section id="categories">
  <h2>Categories</h2>
  <ul>
    <% @top_level_categories.each do |tlc| %>
      <li><%= tlc.name %>
      <% @sub_categories = Category.where(category_id: tlc.id) %>
        <% unless @sub_categories.blank? %><ul><% end %>
        <% @sub_categories.each do |sc| %>
          <li><a href="/products/by_category/<%= sc.id %>"><%= sc.name %></a></li>
        <% end %>
        <% unless @sub_categories.blank? %></ul><% end %>
      </li>
    <% end %>
  </ul>
</section>
<div id="slider">
  <% @sliders.each do |slider| %>
    <section>
      <h2><a href="<%= slider.link %>"><%= slider.title %></a></h2>
      <p><%= slider.text %></p>
      <%= image_tag "sliders/#{slider.image}" %>
    </section>
  <% end %>
</div>
<!-- new items -->
<!-- discount items -->
