<section id="categories">
  <h2>Categories</h2>
  <ul>
    <% @top_level_categories.each do |tlc| %>
      <li><%= tlc.name %>
      <% @sub_categories = Category.where(category_id: tlc.id) %>
        <% unless @sub_categories.blank? %><ul><% end %>
        <% @sub_categories.each do |sc| %>
          <li><a href="/products/by_category/<%= sc.id %>"><%= sc.name %></a></li>
        <% end %>
        <% unless @sub_categories.blank? %></ul><% end %>
      </li>
    <% end %>
  </ul>
</section>
<div id="slider">
  <section>
    <h2><a href="/">Slider 1</a></h2>
    <p>Forest Trail</p>
    <%= image_tag "slider/1.jpg" %>
  </section>
  <section>
    <h2><a href="/">Slider 2</a></h2>
    <p>Moonlit Road</p>
    <%= image_tag "slider/2.jpg" %>
  </section>
  <section>
    <h2><a href="/">Slider 3</a></h2>
    <p>Moss-covered Bridge</p>
    <%= image_tag "slider/3.jpg" %>
  </section>
</div>
<!-- new items -->
<!-- discount items -->
