<section id="categories">
  <h2>Categories</h2>
  <ul>
    <% @top_level_categories.each do |tlc| %>
      <li><%= tlc.name %>
      <% @sub_categories = Category.where(category_id: tlc.id) %>
        <% unless @sub_categories.blank? %><ul><% end %>
        <% @sub_categories.each do |sc| %>
          <li><a href="/products/by_category/<%= sc.id %>"><%= sc.name %></a></li>
        <% end %>
        <% unless @sub_categories.blank? %></ul><% end %>
      </li>
    <% end %>
  </ul>
</section>
<div id="slider">
  <% @sliders.each do |slider| %>
    <section>
      <h2><a href="<%= slider.link %>"><%= slider.title %></a></h2>
      <p><%= slider.text %></p>
      <%= image_tag "sliders/#{slider.image}", :alt => slider.text %>
    </section>
  <% end %>
</div>
<div class="clear"></div>
<section id="recent">
  <h2>Recent Arrivals</h2>
  <% @recent_products.each do |product| %>
    <div class="product-small">
      <a href="products/<%= product.id %>">
        <% if product.image.blank? %>
          <div class="image-not-found"><span>?</span></div>
        <% else %>
          <%= image_tag "products/#{product.image}", :alt => product.name %>
        <% end %>
      </a>
      <p><%= link_to product.name, "products/#{product.id}" %><span><%= number_to_currency(product.price) %></span></p>
    </div>
  <% end %>
  <p><a href="products/recent">See All &raquo;</p>
</section>
<section id="discount">
  <h2>On Sale</h2>
  <% @discounts.each do |discount| %>
    <% product = Product.find(discount.product_id) %>
    <div class="product-small">
      <span class="discount-amount"><span class="attention">*</span><%= format_discount_amount(discount) %></span>
      <a href="products/<%= product.id %>">
        <% if product.image.blank? %>
          <div class="image-not-found"><span>?</span></div>
        <% else %>
          <%= image_tag "products/#{product.image}", :alt => product.name %>
        <% end %>
      </a>
      <p><%= link_to product.name, "products/#{product.id}" %><span class="original-price"><%= number_to_currency(product.price) %></span></p>
      <p class="discount-price"><%= calculate_discount_price(product, discount) %></p>
    </div>
  <% end %>
  <p><a href="discounts/current">See All &raquo;</p>
</section>
