<section id="categories">
  <h2>Categories</h2>
  <ul>
    <% @top_level_categories.each do |tlc| %>
      <li><%= tlc.name %>
      <% @sub_categories = Category.where(category_id: tlc.id) %>
        <% unless @sub_categories.blank? %><ul><% end %>
        <% @sub_categories.each do |sc| %>
          <li><a href="/products/by_category/<%= sc.id %>"><%= sc.name %></a></li>
        <% end %>
        <% unless @sub_categories.blank? %></ul><% end %>
      </li>
    <% end %>
  </ul>
</section>
<div id="slider">
  <% @sliders.each do |slider| %>
    <section>
      <h2><a href="<%= slider.link %>"><%= slider.title %></a></h2>
      <p><%= slider.text %></p>
      <%= image_tag "sliders/#{slider.image}", :alt => slider.text %>
    </section>
  <% end %>
</div>
<div class="clear"></div>
<section id="recent">
  <h2>Recent Arrivals</h2>
  <% @recent_products.each do |rp| %>
    <div class="product-small">
      <a href="products/<%= rp.id %>">
        <%= image_tag "products/#{rp.image}", :alt => rp.name %>
      </a>
      <p><%= link_to rp.name, "products/#{rp.id}" %><span><%= number_to_currency(rp.price) %></span></p>
    </div>
  <% end %>
  <p><a href="products/recent">See All &raquo;</p>
</section>
<!-- discount items -->
