<section>
  <h2>Listing Discounts</h2>
  <p><%= link_to 'New Discount', new_discount_path %></p>
  <table>
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Reference To</th>
        <th scope="col">Value</th>
        <th scope="col">Discount Type</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @discounts.each do |discount| %>
        <tr>
          <td><%= get_reference(discount).name.truncate(15) %></td>
          <td><%= discount.reference_to %></td>
          <td><%= format_value(discount) %></td>
          <td><%= discount.discount_type %></td>
          <td><%= format_time(discount.start) %></td>
          <td><%= format_time(discount.end) %></td>
          <td>
            <%= link_to 'Show', discount %>
            <%= link_to 'Edit', edit_discount_path(discount) %>
            <%= link_to 'Destroy', discount, method: :delete, data: { confirm: "Are you sure you want do delete discount: #{discount.id}?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
