<section>
  <h2>Show Discount <%= @discount.id %></h2>
  <% unless notice.blank? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <dl>
    <dt>Reference</dt> <dd><%= get_reference(@discount).name %></dd>
    <dt>Reference to</dt> <dd><%= @discount.reference_to %></dd>
    <dt>Value</dt> <dd><%= format_value(@discount) %></dd>
    <dt>Discount type</dt> <dd><%= @discount.discount_type %></dd>
    <dt>Start</dt> <dd><%= format_time(@discount.start) %></dd>
    <dt>End</dd> <dd><%= format_time(@discount.end) %></dd>
  </dl>
  <p><%= link_to 'Edit', edit_discount_path(@discount) %> <%= link_to 'Back', discounts_path %></p>
</section>
