<section>
  <h2>Listing Categories</h2>
  <p><%= link_to 'New Category', new_category_path %></p>
  <table>
    <thead>
      <tr>
        <th scope="col">Parent Category</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= Category.find(category.category_id).name unless category.category_id.nil? %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'Show', category %>
            <%= link_to 'Edit', edit_category_path(category) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: "Are you sure you want to delete category: #{category.name}?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
