<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <section id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </section>
  <% end %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, @categories, :id, :name, { :selected => @categories.first.id } %>
  <%= f.label :brand_id %>
  <%= f.collection_select :brand_id, @brands, :id, :name, { :selected => @brands.first.id } %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.label :description %>
  <%= f.text_area :description, :size => '20x5' %>
  <%= f.submit %>
<% end %>
