<section>
  <h2>Show Product <%= @product.id %></h2>
  <% unless notice.blank? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% unless @product.image.blank? %>
    <%= image_tag "products/#{@product.image}", :alt => @product.name, :class => 'product-image' %>
  <% else %>
    <div class="image-not-found left"><span>?</span></div>
  <% end %>
  <dl class="left">
    <dt>Category</dt> <dd><%= Category.find(@product.category_id).name %></dd>
    <dt>Brand</dt> <dd><%= Brand.find(@product.brand_id).name %></dd>
    <dt>Name</dt> <dd><%= @product.name %></dd>
    <dt>Price</dt> <dd><%= number_to_currency(@product.price) %></dd>
    <dt>Quantity</dt> <dd><%= @product.quantity %></dd>
    <dt>Description</dt> <dd><%= @product.description %></dd>
  </dl>
  <div class="clear"></div>
  <p><%= link_to 'Edit', edit_product_path(@product) %> <%= link_to 'Back', products_path %></p>
</section>
