<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eCom_r</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="//code.jqeury.com/jquery-2.0.3.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="extend header-footer">
      <header>
        <h1><span>e</span>Com</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <%= form_tag '/search', method: 'GET' do %>
          <%= text_field_tag :search, nil, { :required => 'required', :placeholder => 'Search' } %>
          <%= submit_tag 'Search' %>
        <% end %>
      </header>
    </div>
    <div class="extend">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div class="extend header-footer">
      <footer>
        <p>&copy; 2014 <span class="logo"><span>e</span>Com</span></p>
      </footer>
    </div>
  </body>
</html>
